---
layout: default
---

{% include site-header.html %}

<style>
body {}
  .content  {
    width: {% if page.aside %}62{% else %}85{% endif %}%;
}
</style>

<main class="main  container">

  <article class="article  article--post  content  typeset">
    <h1>{{ page.title }}</h1>
    {% if page.aside != true %} <div style="color: #a8adac">{{ ">" | append: page.summary | markdownify }}</div> {% endif %}
    {% include post-meta.html %}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}

    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include custom-post-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
